@using StudyPlatformMVC.Models
@model List<StudyPlatformMVC.Models.Assignment>
@{
    ViewBag.Title = "Afleveringer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@Styles.Render("~/Content/Assignment")
<div class="container">
    @if ((Person)Session["user"] is Student)
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Fag</th>
                    <th>Beskrivelse</th>
                    <th>Frist</th>
                    <th>Dokument</th>
                    <th>Karakter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (Assignment assignemnt in @Model)
                {
                    if (assignemnt.AssignmentDescription.Deadline >= DateTime.Now)
                    {
                        <tr class="active">
                            <td>@assignemnt.AssignmentDescription.Course.Name</td>
                            <td>@assignemnt.AssignmentDescription.Description</td>
                            <td>@assignemnt.AssignmentDescription.Deadline</td>
                            <td></td>
                            @if (assignemnt.Grade == null)
                            {
                                <td>Ikke afleveret</td>
                            }
                            else
                            {
                                <td>@assignemnt.Grade.Grade</td>
                            }

                            <td><input type="button" class="btn btn-default" value="Aflever" onclick="location.href='@Url.Action("Aflever", "Assignments")'" /></td>
                        </tr>
                    }
                    else if(assignemnt.AssignmentDescription.Deadline <= DateTime.Now && assignemnt.Grade == null)
                    {
                        <tr class="danger">
                            <td>@assignemnt.AssignmentDescription.Course.Name</td>
                            <td>@assignemnt.AssignmentDescription.Description</td>
                            <td>@assignemnt.AssignmentDescription.Deadline</td>
                            <td></td>
                            @if (assignemnt.Grade == null)
                            {
                                <td>Ikke afleveret</td>
                            }
                            else
                            {
                                <td>@assignemnt.Grade.Grade</td>
                            }
                            <td></td>
                        </tr>
                    }
                    else if(assignemnt.AssignmentDescription.Deadline <= DateTime.Now)
                    {
                        <tr class="success">
                            <td>@assignemnt.AssignmentDescription.Course.Name</td>
                            <td>@assignemnt.AssignmentDescription.Description</td>
                            <td>@assignemnt.AssignmentDescription.Deadline</td>
                            <td></td>
                            @if (assignemnt.Grade == null)
                            {
                                <td>Ikke afleveret</td>
                            }
                            else
                            {
                                <td>@assignemnt.Grade.Grade</td>
                            }
                            <td></td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
    @if ((Person)Session["user"] is Teacher)
    {
        <table class="tableTeacher">
            <thead>
                <tr>
                    <th>Fag</th>
                    <th>Beskrivelse</th>
                    <th>Frist</th>
                    <th>Dokument</th>
                    <th>Karakter</th>
                    <th></th>
                </tr>
            </thead>
        </table>
    }
</div>