@using System.Activities.Statements
@using StudyPlatformMVC.Models
@model List<News>

@{
    ViewBag.Title = "News";
}
@Styles.Render("~/Content/news")

<script src="~/Scripts/NewsTest.js"></script>

<table class="table table-condensed" style="border-collapse:collapse;">
    <thead>
        <tr>
            <th>#</th>
            <th>Titel</th>
            <th>Dato</th>
            
        </tr>
    </thead>
    <tbody>
    @foreach (News news in @Model)
    {
        <tr data-toggle="collapse" data-target="#demo1" class="accordion-toggle">
            <td>1</td>
            <td>@news.Title</td>
            <td>@news.DateTimePublished</td>
        </tr>
        <tr>
            <td colspan="6" class="hiddenRow">
                <div class="accordian-body collapse" id="demo1">
                    @news.Text 
                </div>
            </td>
        </tr>
    }
    

    </tbody>
</table>


@{ Person user = Person.GetByID(1); }
<p>@user.Name</p>

@*@foreach (News news in @Model)
    {
        <td>@news.Title</td>
        <td>@news.DateTimePublished</td>
            @news.Text
    }*@

