@using System.Activities.Statements
@using StudyPlatformMVC.Models
@model List<News>

@{
    ViewBag.Title = "News";
}
@Styles.Render("~/Content/news")


@*Test*@

<script src="/Scripts/NewsTest.js"></script>

@{int AccordionCounter = 1;}

<h2>Nyheder</h2>


<button class="accordion">Section 1</button>
<div class="panel">
    <p>Lorem ipsum...</p>
</div>










@*


    <table class="table table-striped table-hover">
        <thead>
        <td>Titel</td>
        <td>Dato</td>
        </thead>

        <tbody>
        @foreach (News news in @Model)
        {
            <tr data-toggle="collapse" data-target="#accordion" class="clickable">
                <td>@news.Title</td>
                <td>@news.DateTimePublished</td>
            </tr>


            <td colspan="3">
                <div id="@Html.Label("Accordion" + AccordionCounter)" class="collapse">
                    @news.Text
                </div>
            </td>
            AccordionCounter += 1;
        }
        </tbody>
    </table>

*@





@{ Person user = Person.GetByID(1); }
<p>@user.Name</p>



